# regex to ignore compiled object output files
# reference: https://codicious.wordpress.com/2018/06/06/how-would-you-exclude-all-extension-less-executable-from-your-repo/
*
!*.*
!*/

# ignore vscode config files
*.json